@model footprints.web.Models.PrintModel
@{
    ViewBag.Title = "AddPrint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
    
            <div class="span6">
                <div class="footprint-form">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.FirstName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.FirstName)
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.LastName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.LastName)
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Phrase)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Phrase)
                        @Html.ValidationMessageFor(model => model.Phrase)
                    </div>
                </div>
            </div>            
            <div class="span6">
                <div id="outer">
                    <div id="middle">
                        <div id="inner">
                            <input type="submit" style="white-space:normal" value="add your print" class="btn btn-primary tile-action" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
