@model IEnumerable<footprints.web.Models.PrintModel>
@{
    ViewBag.Title = "ViewPrints";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (Model.Count() > 0)
    {
        int i = 0;

        foreach (var print in Model)
        {        
        <div class="row" style="min-height: 180px; margin-top: 15px; margin-bottom: 15px">
            @if (i % 2 == 0)
            {                
                <div class="span6" style="text-align: right;">
                    <div class="first-name-text">
                        @Html.DisplayFor(modelItem => print.FirstName)
                    </div>
                    <div class="last-name-text">
                        @Html.DisplayFor(modelItem => print.LastName)
                    </div>
                    <div class="date-text">
                        Print made: @Html.DisplayFor(modelItem => print.Date)
                    </div>
                    <div class="phrase-text">
                        "@Html.DisplayFor(modelItem => print.Phrase)"
                    </div>
                </div>
                <div class="span6" style="text-align: left">
                    <img style="margin-left:20px" src="@Url.Content("~/Content/images/left-footprint.png")" />
                </div>
            }
            else
            {
                
                <div class="span6" style="text-align: right">
                    <img style="margin-right:20px" src="@Url.Content("~/Content/images/right-footprint.png")" />
                </div>
                
                <div class="span6" style="text-align: left;">
                    <div class="first-name-text">
                        @Html.DisplayFor(modelItem => print.FirstName)
                    </div>
                    <div class="last-name-text">
                        @Html.DisplayFor(modelItem => print.LastName)
                    </div>
                    <div class="date-text">
                        Print made: @Html.DisplayFor(modelItem => print.Date)
                    </div>
                    <div class="phrase-text">
                        "@Html.DisplayFor(modelItem => print.Phrase)"
                    </div>
                </div>
       
            }
        </div>
        
        <div class="row">
            <div class="span12">
                <hr style="background-color: #808080; height: 2px" />
            </div>
        </div>

            i++;
        }


    }
    else
    {
        <div class="row">
            <div class="span12 thanks-text">
                No one has left any footprints yet!  @Html.ActionLink("Add", "AddPrint") yours.
            </div>
        </div>    
    }
</div>
